<div class="login-container">
  <div class="login-content">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <br />
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- Email Field -->
          <mat-form-field appearance="outline" class="full-width text-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Enter a valid email.
            </mat-error>
          </mat-form-field>
          <!-- Password Field -->
          <mat-form-field appearance="outline" class="full-width text-field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required.
            </mat-error>
          </mat-form-field>
          <!-- Login Button -->
          <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid || loading">
            <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
            <span *ngIf="!loading">Login</span>
          </button>
          <!-- Error Message -->
          <mat-error *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</mat-error>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
